/* ========================================================================== */
/* HEADER FORMATTING */
/* ========================================================================== */

.sobre_button {
    border-bottom: 2px solid var(--TEXTCOLOR2);
}

.sobre_button:hover {
    border-bottom: 2px solid var(--TEXTCOLOR3);
}

/* ========================================================================== */
/* SUB-NAV */
/* ========================================================================== */

.sub_nav li:nth-child(7) {
    border-bottom: 2px solid var(--TEXTCOLOR1);
}

/* ========================================================================== */
/* MAIN FORMATTING */
/* ========================================================================== */

main {
    background-color: var(--PICKLEDBLUEWOOD);
    padding-bottom: 84px;
    width: 100%;
}

.flex_container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--PICKLEDBLUEWOOD);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.main-text {
    width: 80%;
    color: white;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-top: 60px;
}

.container-list{
    display: flex;
    width: 80%;
    justify-content: left;
    align-items: justify;
    margin-bottom: 60px;
}

.main-ul{
    list-style-type: disc;
    
}

.list{
    color: white;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin: 40px;
}