    main{
    background-color: #283745;
    padding-bottom: 2%;
    width: 100%
    
    }
    .sub_nav {
        font-family: 'Poppins', sans-serif;
        color:white;
        background-color: #D82E4A;
    }
    
    .sub_nav nav ul{
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 10em;
        text-decoration: none;
    }
    
    .nav-bar {
        color: black;
        font-size: 2em;
        text-decoration: solid;
    }
    
    .sub_nav nav ul a {
        color: white;
        text-decoration: none;
    }
    
    .atual {
        color: black;
        font-style: normal;
        font-weight: bold;
        text-decoration: underline;
    }
    .main-text{
        color: white;
        text-align: justify;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        margin: 40px;
    }
    .container-list{
        display: flex;
         justify-content: left;
        align-items: justify; 
        margin: 20px;
        margin-left: 100px;
    }
    .main-ul{
        list-style-type: disc;
        
    }
    .list{
        color: white;
        text-align: justify;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        margin: 40px;
    }