/* ========================================================================== */
/* HEADER FORMATTING */
/* ========================================================================== */

.documentos_button {
    border-bottom: 2px solid var(--TEXTCOLOR2);
}

.documentos_button:hover {
    border-bottom: 2px solid var(--TEXTCOLOR3);
}

/* ========================================================================== */
/* MAIN FORMATTING */
/* ========================================================================== */

main {
    background-color: var(--PICKLEDBLUEWOOD);
    padding-bottom: 84px;
    width: 100%;
}

.flex_container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--PICKLEDBLUEWOOD);
    font-family: 'Poppins', 'Open Sans', 'Montserrat', sans-serif;
    font-size: 18px;
}

.legislacao, .relatorios, .sinaes_text, .sinaes_img {    
    width: 80%;
    margin: 20px;
    color: var(--TEXTCOLOR1);
    font-style: normal;
    font-weight: 600;
    line-height: 1.8em;
}

.legislacao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
}

.legislacao h1, .relatorios h1, .sinaes_text h1 {
    color: var(--TEXTCOLOR3);
}

.legislacao p {
    text-align: justify;
}

.relatorios {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.relatorios p {
    text-align: justify;
}

.sinaes_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sinaes_text p {
    text-align: justify;
}

.flex_container_main a {
    color: var(--LIGHTGRAY);
}

.sinaes_img {
    display: flex;
    justify-content: center;
}

.sinaes_img img {
    width: 70vw;
    object-fit: cover;
    margin-bottom: 60px;
}

.sinaes_img img:hover {
    cursor: pointer;
}

/* ========================================================================== */
/* EMPTY SECTION FORMATTING */
/* ========================================================================== */

.empty_section {
    background-color: var(--WHITE);
    height: 20px;
}

/* ========================================================================== */
/* LIGHTBOX */
/* ========================================================================== */

.lightbox {
    /* Default to hidden */
    display: none;
  
    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    /* A bit of padding around image */
    padding: 1em;
  
    /* Translucent background */
    background: rgba(0, 0, 0, 0.8);
}
  
  /* Unhide the lightbox when it's the target */
  .lightbox:target {
    display: block;
}
  
  .lightbox span {
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;
  
    /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* ========================================================================== */
/* RESPONSIVITY */
/* ========================================================================== */

@media(max-width:900px){

    .flex_container_main p, .flex_container_main h1 {
        font-size: 16px;
        line-height: 1.6em;
    }
}