/* ========================================================================== */
/* RESET CSS FORMATTING */
/* ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========================================================================== */
/* GLOBAL FORMATTING */
/* ========================================================================== */

body {    
    position: relative;
    min-height: 100vh;
}

::selection {
	color: var(--WHITE);
	background-color: var(--CERISEREDRED);
}
  
::-moz-selection {
	color: var(--WHITE);
	background-color: var(--CERISEREDRED);
}

/* ========================================================================== */
/* ACCESSIBILITY AND DARK MODE BUTTONS */
/* ========================================================================== */
.dark_mode_button, .a11y_mode_button {
	position: fixed;
	top: 0;
	right: 5px;
	z-index: 9999;
	background-color: transparent;
	border: none;
	opacity: 80%;
	height: 30px;
	width: 30px;
	cursor: pointer;
}

.dark_mode_button img, .a11y_mode_button img {
	height: 25px;
	width: 25px;
}

.a11y_mode_button {
	top: 35px;
}
