/* ========================================================================== */
/* MAIN FORMATTING */
/* ========================================================================== */

main {
    background-color: var(--WHITE);
    padding-bottom: 84px;
    width: 100%;
}

.flex_container_main {
    display: flex;
    flex-direction: column;
    background-color: var(--WHITE);
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    justify-content: center;
}

/* ========================================================================== */
/* CAROUSEL SLIDES FORMATTING */
/* ========================================================================== */

.carousel_container {
    display: flex;
    width: 100%;
    height: 530px;
}

.carousel_container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel_container p {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    padding: 20px 0;
    text-transform: uppercase;
    background-color: var(--CERISEREDRED);
}

.slick-dots li:nth-child(1) button:before{
    background: url("../assets/icons/dot.png") no-repeat;
    background-size: contain!important;
}

.slick-dots li:nth-child(2) button:before{
    background: url("../assets/icons/dot.png") no-repeat;
    background-size: contain!important;
}

.slick-dots li:nth-child(3) button:before{
    background: url("../assets/icons/dot.png") no-repeat;
    background-size: contain!important;
} 

.slick-dots li button:before{
    content: ''!important;
    height: 100%!important;
    width: 100%!important;
}

.slick-dots li{
    width: 10px!important;
    height: 10px!important;
    margin: 10px!important;
}

.slick-dots{
    bottom:  30px!important;
}

.slick-arrow:before{
    content:""!important;
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
}

.slick-next:before{
    background: url(../assets/icons/icon_arrow_white.png) no-repeat;
    background-size: contain!important;
}

.slick-prev:before{
    background: url(../assets/icons/icon_arrow_white.png) no-repeat;
    background-size: contain!important;
    transform: rotate(180deg);
}

.slick-arrow{
    z-index: 2!important;
    width: 40px!important;
    height: 40px!important;
}

.slick-next{
    right: 10px!important;
    height: 30px!important;
}

.slick-prev{
    left: 10px!important;
}

/* ========================================================================== */
/* NEWS FORMATTING */
/* ========================================================================== */

.news_container {
    background-color: var(--WHITE);
}

.news_container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 40px 20px 40px;
}

.news_container a {
    text-decoration: none;
}

.news_container ul li {
    display: flex;
    box-shadow: 0px 0px 15px var(--SHADOW);
    border-radius: 8px;
    height: 180px;
    width: 400px;
    margin: 30px 50px;
}

.news_container ul li:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.news_image {
    height: 160px;
    width: 160px;
    border-radius: 8px;
    object-fit: cover;
    margin: 10px;
}

.news_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news_text {
    display: flex;
    justify-content: center;
    margin: 10px 4px 0 0;
}

.news_text p {
    line-height: 20px;
    color: var(--TEXTCOLOR2);
}

.news_button {
    display: flex;
    font-size: 14px;    
    justify-content: flex-end;
    margin: 0 8px 6px 0;
}

.news_button p {
    color: var(--TEXTCOLOR4);
}

.news_button img {
    display: flex;
    height: 14px;
    margin-left: 6px;
}

.more_news {
    display: flex;    
    justify-content: center;
    height: 40px;
    margin-bottom: 80px;
}

.more_news a {
    text-decoration: none;
}

.more_news_button {
    display: flex;
    border: none;
    border-radius: 8px;
    background-color: var(--CERISEREDRED);
    width: 50%;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    color: var(--TEXTCOLOR1);
    cursor: pointer;    
    justify-content: space-around;
    align-items: center;
    width: 320px;
}

.more_news_button img {
    height: 22px;
}

/* ========================================================================== */
/* ABOUT FORMATTING */
/* ========================================================================== */

.about_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--PICKLEDBLUEWOOD);
}

.about_logo {
    margin: 20px 40px 20px 20px;
}

.about_logo img {
    height: 350px;
}

.about_text {
    width: 60%;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    text-align: justify;
    color: var(--TEXTCOLOR1);
    margin: 20px;
}

.about_text span {
    color: var(--TEXTCOLOR3);
}

.about_text p {
    line-height: 35px;
}

.about_text h1 {
    font-size: 36px;
    text-align: right;
    margin-bottom: 20px;
}

.keep_reading_button {
    display: flex;
    justify-content: flex-end;
    color: var(--TEXTCOLOR3);
    text-decoration: none;
}

.keep_reading_button a {
    display: flex;
    color: var(--TEXTCOLOR3);
    text-decoration: none;
}

.keep_reading_button p {
    margin-right: 20px;
}