/* ========================================================================== */
/* MAIN FORMATTING */
/* ========================================================================== */

main {
    background-color: var(--PICKLEDBLUEWOOD);
    padding-bottom: 84px;
    width: 100%;
}

.flex_container_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--PICKLEDBLUEWOOD);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.news {    
    width: 80%;
    margin: 20px;
    color: var(--TEXTCOLOR1);
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.news {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 60px 0;
}

.news h1 {
    color: var(--TEXTCOLOR3);
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}

.news p {
    text-align: justify;
}

.news_img {
    display: flex;
    justify-content: center;
}

.news_img img {
    width: 70vw;
    height: 25vw;
    border-radius: 25px;
    object-fit: cover;
    margin: 40px;
}

.news_img img:hover {
    cursor: pointer;
}

.news p {
    margin: 0 20px 20px 20px;
}

.news_more_img {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.news_more_img img {
    width: 250px;
    height: 150px;
    border-radius: 25px;
    object-fit: cover;
    margin: 20px;
}

.news_more_img img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

/* ========================================================================== */
/* LIGHTBOX */
/* ========================================================================== */

.lightbox {
    /* Default to hidden */
    display: none;
  
    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    /* A bit of padding around image */
    padding: 1em;
  
    /* Translucent background */
    background: rgba(0, 0, 0, 0.8);
}
  
  /* Unhide the lightbox when it's the target */
  .lightbox:target {
    display: block;
}
  
  .lightbox span {
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;
  
    /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* ========================================================================== */
/* EMPTY SECTION FORMATTING */
/* ========================================================================== */

.empty_section {
    background-color: var(--WHITE);
    height: 20px;
}

/* ========================================================================== */
/* RESPONSIVITY */
/* ========================================================================== */

@media(max-width:900px){

    .news h1 {
        font-size: 20px;
    }

    .news p {
        font-size: 16px;
        line-height: 1.6em;
        margin: 0 0 20px 0;
    }

    .news_img img {
        height: auto;
        margin: 20px;
    }
}

