/* ========================================================================== */
/* HEADER FORMATTING */
/* ========================================================================== */

.sobre_button {
    border-bottom: 2px solid var(--TEXTCOLOR2);
}

.sobre_button:hover {
    border-bottom: 2px solid var(--TEXTCOLOR3);
}

/* ========================================================================== */
/* SUB-NAV */
/* ========================================================================== */

.sub_nav li:nth-child(3) {
    border-bottom: 2px solid var(--TEXTCOLOR1);
}

.sub_nav li:nth-child(3):hover {
    border-bottom: 2px solid var(--PICKLEDBLUEWOOD);
}

/* ========================================================================== */
/* MAIN FORMATTING */
/* ========================================================================== */

main {
    background-color: var(--PICKLEDBLUEWOOD);
    padding-bottom: 84px;
    width: 100%;
}

.flex_container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--PICKLEDBLUEWOOD);
    font-family: 'Poppins', 'Open Sans', 'Montserrat', sans-serif;
    font-size: 18px;
}

.main_ul li {
    color: white;
    line-height: 1.4em;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Poppins', 'Open Sans', 'Montserrat', sans-serif;
    font-size: 18px;
}

.container_list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
    color: white;
    text-align: justify;
    font-family: 'Poppins', 'Open Sans', 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    width: 80%;
}

.main_ul {
    list-style-type: disc;
}

/* ========================================================================== */
/* RESPONSIVITY */
/* ========================================================================== */

@media(max-width:900px){

    .main_ul li {
        font-size: 16px;
        line-height: 1.6em;
    }
}