/* ========================================================================== */
/* HEADER FORMATTING */
/* ========================================================================== */

.sobre_button {
    border-bottom: 2px solid var(--TEXTCOLOR2);
}

.sobre_button:hover {
    border-bottom: 2px solid var(--TEXTCOLOR3);
}

/* ========================================================================== */
/* SUB-NAV */
/* ========================================================================== */

.sub_nav li:nth-child(1) {
    border-bottom: 2px solid var(--TEXTCOLOR1);
}

.sub_nav li:nth-child(1):hover {
    border-bottom: 2px solid var(--PICKLEDBLUEWOOD);
}

/* ========================================================================== */
/* MAIN FORMATTING */
/* ========================================================================== */

.main_text {
    color: white;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.main_text p {
    margin-bottom: 20px;
    line-height: 1.8em;
}

.img_container img {
    float: right;
    padding: 40px;
    margin-left: 20px; /* Adiciona um espaço entre a imagem e o texto */
    width: 400px;
    background-color: #FFFFFF;
    border-radius: 30px;
}

main {
    background-color: var(--PICKLEDBLUEWOOD);
    padding-bottom: 84px;
    width: 100%;
}

.flex_container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--PICKLEDBLUEWOOD);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.text_and_image {
    width: 80%;
    margin: 60px 0;
}

.empty_section {
    background-color: var(--WHITE);
    height: 20px;
}

/* ========================================================================== */
/* RESPONSIVITY */
/* ========================================================================== */

@media(max-width:900px){
    .img_container{
        display:none;
    }
}