/* ========================================================================== */
/* Reset All CSS Default Formatting */
/* ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========================================================================== */
/* Global Formatting */
/* ========================================================================== */

/* ========================================================================== */
/* Header Formatting */
/* ========================================================================== */

header {
    width: 100%;
    align-self: center;
}

.flex_container_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 3em;
}

.images_header img {
    height: 4em;
    padding: 10px 10px;
}

.form_header {
    display: inline-block;
    border: 1px solid #636363;
    border-radius: 8px;
    width: 300px;
}

.form_header_input {
    border: none;
    background-color: transparent;
    outline: none;
    width: 250px;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 10px;
}

.form_header_search {
    border: none;
    background-color: transparent;
    width: 20px;
}

.form_header_search::before {
    font-family: FontAwesome;
    content: "\f002";
    color: #636363;
    font-size: 18px;
}

.form_header_search:hover::before {
    color: #D82E4A;
}

.nav_header ul {
    display: inline-block;
    margin-left: 30px;
}

.nav_header ul a {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
}

.nav_header ul a:hover {
    color: #D82E4A;
}

.nav_header ul img {
    height: 16px;
}

/* ========================================================================== */
/* Main Formatting */
/* ========================================================================== */

main {
    background-color: #283745;
}

.flex_container_main {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.contact_info {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 20px;
    margin: 60px 0 60px 0;
    width: 400px;

}

.contact_title {
    font-size: 48px;
    font-weight: 600;
    color: #D82E4A;
    margin: 10px 10px 40px 0;
}

.contact_info table {
    border-collapse: separate;
    border-spacing: 0;
}

.contact_info table td {
    padding-bottom: 40px;
}

.contact_items {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
}

.contact_mail_icon{
    text-align: center;
    vertical-align: middle;
}

.contact_mail_icon img{
    height: 18px;
}

.contact_numbers_icon {
    text-align: center;
    vertical-align: middle;
}

.contact_numbers_icon img{
    height: 22px;
}

.contact_address_icon {
    text-align: center;
    vertical-align: middle;
}

.contact_address_icon img{
    height: 24px;
}

.contact_mail_text, .contact_numbers_text, .contact_address_text {
    padding-left: 10px;
}


.contact_form {
    width: 600px;
    margin: 60px 0 60px 0;
    justify-content: left;
    align-items: center;
}

.contact_name, .contact_mail, .contact_subject, .contact_message, .contact_whatsapp {
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    border: #FFFFFF;
    color: #C6C6C6;
    border: none;
    outline: none;
    font-size: 18px;
}

.name_and_mail {
    display: flex;
    margin-bottom: 22px;
    justify-content: space-between;
}

.contact_name {
    height: 30px;
    width: 46%;
    padding-left: 2%;
}

.contact_mail {
    height: 30px;
    width: 46%;
    padding-left: 2%;
}

.contact_subject, .contact_whatsapp {
    height: 30px;
    width: 97.5%;
    padding-left: 2%;
    margin-bottom: 22px;
}

.contact_message {
    width: 97.5%;
    padding-left: 2%;
    margin-bottom: 22px;
    resize: none;
}

.contact_send_button {
    display: flex;
    border: none;
    border-radius: 8px;
    background-color: #D82E4A;
    width: 50%;
    height: 40px;
    margin-top: 2%;
    padding-left: 2%;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #FFFFFF;
    cursor: pointer;    
    justify-content: space-around;
    align-items: center;
}

.contact_send_button img {
    height: 22px;
}

.empty-section {
    background-color: #FFFFFF;
    height: 16px;
}
/* ========================================================================== */
/* Footer formatting */
/* ========================================================================== */

footer {
    display: flex;
}

.footer_left {
    background-color: #D82E4A;
    width: 35%;
}

.logo_footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 10px 0px;
    height: 4em;
}

.footer_right {
    display: flex;
    background-color: #283745;
    width: 65%;
    align-items: center;
}

.footer_content {
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.footer_content a {
    padding-left: 20px;
}

.footer_content p {
    padding-left: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}