<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/components/catch.css">
</head>
<section class="catch_container">
    <div class="catch_text">
        <p>FAÇA A DIFERENÇA!</p>
        <p>Ajude a CPA respondendo <br> o questionário agora<br> mesmo!</p>
    </div>
    <div class="catch_arrow">
        <img src="../assets/icons/icon_arrow_red1.png" alt="">
    </div>
    <div class="catch_qr_code">
        <img src="../assets/QR-code.png" alt="">
        <p>OU <a href="https://bpkedu.com.br/">CLIQUE AQUI!</a></p>
    </div>
</section>