<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/components/footer.css">
</head>
<footer>
    <div class="footer_left">
        <div class="logo_footer_container">
            <a href="/html/index.html" class="logo_footer"><img src="/assets/Logo-Biopark2.svg" alt=""></a>
        </div>
    </div>
    <div class="footer_right">  
        <div class="footer_content">
            <a href="https://www.facebook.com/biopark.edu/" target="_blank"><img src="/assets/Footer-Facebook.svg" alt=""></a>
            <a href="https://www.instagram.com/biopark_edu/" target="_blank"><img src="/assets/Footer-Instagram.svg" alt=""></a>
            <p>Biopark Educação - Associação De Ensino, Pesquisa e Extensão Biopark</p>
        </div>
    </div>
</footer>