<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/components/header.css">
</head>
<header>
    <div class="flex_container_header">
        <div class="header_content">
            <div class="images_header">
                <a href="/html/index.html"><img src="/assets/Logo-CPA.png" alt=""></a>
                <a href="/html/index.html"><img src="/assets/Logo-Biopark.svg" alt=""></a>
            </div>

            <div class="form_header">
                <form action="">
                    <input class="form_header_input" type="text" placeholder="Pesquise notícias da CPA">
                    <a href="/html/resultado.html" class="form_header_search"><img src="/assets/icons/search.png" alt=""></a>
                </form>
            </div>

            <div class="nav_header">
                <nav>
                    <ul>
                        <li class="sobre_button"><a href="sobre.html">Sobre a CPA</a></li>
                        <li class="documentos_button"><a href="documentos.html">Documentos</a></li>
                        <li class="contato_button"><a href="contato.html">Contato</a></li>
                        <li><img src="/assets/icons/brazil.png" alt="" class="lang-selector"></li>
                    </ul>
                </nav>
            </div>

            <div class="nav_header_resp">
                <label>
                    <div class="dd_button">
                    <img src="/assets/icons/dropdown_button.png" alt="">
                    </div>
                    <input type="checkbox" class="dd_input" id="test">
                
                    <ul class="dd_menu">
                        <li><a href="sobre.html">Sobre a CPA</a></li>
                        <li class="divider"></li>
                        <li><a href="documentos.html">Documentos</a></li>
                        <li class="divider"></li>
                        <li><a href="contato.html">Contato</a></li>
                        <li class="divider"></li>
                        <li><img src="/assets/icons/brazil.png" alt="" class="lang-selector"></li>
                    </ul>
                </label>
            </div>

        </div>
    </div>
</header>