<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/components/sub_nav.css">
</head>
<div class="sub_nav">
    <nav>
        <ul>
            <li>
                <a class="main-header-effect" href="/html/sobre.html">Sobre</a>    
            </li>
            <li class="sub_nav_bar">|</li>
            <li>
                <a class="main-header-effect" href="/html/objetivos.html">Objetivos</a>
            </li>
            <li class="sub_nav_bar">|</li>
            <li>
                <a class="main-header-effect" href="/html/membros.html">Membros</a>
            </li>
            <li class="sub_nav_bar">|</li>
            <li>
                <a class="main-header-effect" href="/html/autoavaliacao.html">Autoavaliação</a>
            </li>
        </ul>
    </nav>
</div>