<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/components/sub_nav.css">
</head>
<div>    
    <div class="sub_nav">
        <nav>
            <ul>
                <li class="default_enabled">
                    <a class="main-header-effect" href="/html/sobre.html">Sobre</a>    
                </li>
                <li class="sub_nav_bar">|</li>
                <li class="default_enabled">
                    <a class="main-header-effect" href="/html/objetivos.html">Objetivos</a>
                </li>
                <li class="sub_nav_bar">|</li>
                <li class="default_enabled">
                    <a class="main-header-effect" href="/html/membros.html">Membros</a>
                </li>
                <li class="sub_nav_bar">|</li>
                <li class="default_enabled">
                    <a class="main-header-effect" href="/html/autoavaliacao.html">Autoavaliação</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="sub_nav_resp_container">
        <div class="sub_nav_resp">
            <label>
                <div class="sub_dd_button">
                <img src="/assets/icons/dropdown_button.png" alt="Sub-Menu de Navegação">
                </div>
                <input type="checkbox" class="sub_dd_input" id="test">
        
                <ul class="sub_dd_menu">
                    <li><a href="/html/sobre.html">Sobre</a></li>
                    <li class="divider"></li>
                    <li><a href="/html/objetivos.html">Objetivos</a></li>
                    <li class="divider"></li>
                    <li><a href="/html/membros.html">Membros</a></li>
                    <li class="divider"></li>
                    <li><a href="/html/autoavaliacao.html">Autoavaliação</a></li>
                </ul>
            </label>
        </div>
    </div>
</div>