/* ========================================================================== */
/* FOOTER FORMATTING */
/* ========================================================================== */

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 84px;
    user-select: none;
}

.footer_left {
    background-color: var(--CERISEREDRED);
    width: 35%;
}

.logo_footer_container {
    display: flex;
    justify-content: flex-end;
}

.logo_footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 10px 0px;
    height: 4em;
}

.footer_right {
    display: flex;
    background-color: var(--PICKLEDBLUEWOOD);
    width: 65%;
    align-items: center;
}

.footer_content {
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.footer_content a {
    padding-left: 20px;
}

.footer_content p {
    padding-left: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

/* ========================================================================== */
/* RESPONSIVITY */
/* ========================================================================== */

@media (max-width:560px) {
    .footer_left {
        display: none;
    }

    .footer_right {
        width: 100%;
    }
    
    .footer_content {        
        padding-left: 0;
    }

    .footer_content a, .footer_content p {
        padding: 0 10px;
        text-align: center;
    }
}