/* ========================================================================== */
/* HEADER FORMATTING */
/* ========================================================================== */

header {
    width: 100%;
    align-self: center;
    background-color: var(--WHITE);
    user-select: none;
}

.flex_container_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.flex_container_header div {
    margin: 10px 0 10px 0;
}

.images_header img {
    height: 64px;
    margin: 0 10px;
}

.form_header {
    border: 1px solid var(--DOVEGRAY);
    border-radius: 8px;
    width: 400px;
    height: 35px;
    padding-top: 6px;
}

.form_header form {
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

.form_header_input {
    border: none;
    background-color: transparent;
    outline: none;
    width: 250px;
    align-self: center;
    font-family: 'Poppins', 'Open Sans', 'Montserrat', sans-serif;
    font-size: 18px;
    margin-left: 10px;
}

.form_header_search {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-right: 10px;
}

.form_header_search img{
    height: 20px;
    margin-bottom: -4px;
}

.form_header_search img:hover{
    cursor: pointer;
}

.form_header_search:hover::before {
    color: var(--CERISEREDRED);
}

.nav_header ul {
    font-size: 0;
}

.nav_header ul li {
    display: inline-block;
    margin-right: 30px;
}

.nav_header ul li a {
    font-family: 'Poppins', 'Open Sans', 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    color: var(--TEXTCOLOR2);
}

.nav_header ul a:hover {
    color: var(--TEXTHOVER);
}

.nav_header ul img {
    height: 16px;
    margin-bottom: -2px;
}

/* ========================================================================== */
/* RESPONSIVITY */
/* ========================================================================== */

.nav_header_resp {
    display: none;
}

@media (max-width: 1350px) {
    .nav_header_resp {
        display: inline-block;
        position: relative;
    }

    .nav_header {
        display: none;
    }
}

@media (max-width: 872px) and (min-width:828px) {
    .nav_header_resp {
        display: none;
    }

    .nav_header {
        display: flex;
    }
}

@media (max-width: 490px) {
    .dd_menu {
        left: 0;
    }

    .flex_container_header div {
        margin: 5px 0;
    }

    .nav_header_resp {
        order: 1;
    }

    .images_header {
        order: 2;
    }

    .form_header {
        order: 3;
    }

    .images_header img {
        height: 80px;
    }

    .images_header a:nth-child(2) {
        display: none;
    }
}

.dd_button {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--WHITE);
    cursor: pointer;
    white-space: nowrap;
    background-color: transparent;
}

.dd_button img {
    width: 40px;
    filter: var(--IMG_FILTER);
}

.dd_input {
    display: none;
}

.dd_menu {
    width: 200px;
    position: absolute;
    top: 100%;
    right: 0%;
    border-radius: 8px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 var(--SHADOW);
    background-color: var(--WHITE);
    list-style-type: none;
    z-index: 9999;
}

.dd_input + .dd_menu {
    display: none;
} 

.dd_input:checked + .dd_menu {
    display: block;
} 

.dd_menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
}

.dd_menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', 'Open Sans', 'Montserrat', sans-serif;
    color: var(--TEXTCOLOR2);
}

.dd_menu li a:hover {
    color: var(--TEXTHOVER);
}

.dd_menu li.divider{
    padding: 0;
    border-bottom: 1px solid var(--DOVEGRAY);
}