/* ========================================================================== */
/* HEADER FORMATTING */
/* ========================================================================== */

header {
    width: 100%;
    align-self: center;
    background-color: var(--WHITE);
    user-select: none;
}

.flex_container_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.flex_container_header div {
    margin: 10px 0 10px 0;
}

.images_header img {
    height: 4em;
    margin: 0 10px;
}

.form_header {
    border: 1px solid var(--DOVEGRAY);
    border-radius: 8px;
    width: 400px;
    height: 35px;
    padding-top: 6px;
}

.form_header form {
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

.form_header_input {
    border: none;
    background-color: transparent;
    outline: none;
    width: 250px;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 10px;
}

.form_header_search {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-right: 10px;
}

.form_header_search img{
    height: 20px;
    margin-bottom: -4px;
}

.form_header_search img:hover{
    cursor: pointer;
}

.form_header_search:hover::before {
    color: var(--CERISEREDRED);
}

.nav_header ul {
    font-size: 0;
}

.nav_header ul li {
    display: inline-block;
    margin-right: 30px;
}

.nav_header ul li a {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    color: var(--TEXTCOLOR2);
}

.nav_header ul a:hover {
    color: var(--TEXTHOVER);
}

.nav_header ul img {
    height: 16px;
}